<!--確認用-->
<% if !user_signed_in? %>
<%= @guest.name %>
<% end %>

<h1><%= @shared_event.title %></h1>
<h2><%= @shared_event.content %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">日程</th>
      <th scope="col">〇</th>
      <th scope="col">△</th>
      <th scope="col">×</th>
    </tr>
  </thead>
  
  <tbody>
    <% @event_schedules.each do |es| %>
      <tr>
        <th scope="row"><%= es.targer_at %></th>
        <td>〇.count</td>
        <td>△.count/td>
        <td>×.count</td>
      </tr>
    <% end %>
    <th>コメント</th>
  </tbody>
</table>

<%= link_to "出欠をとる", shared_events_attendance_path(@shared_event.uuid), 
     class: "btn btn-outline-secondary btn-sm" %>
