<div>
  <div class="col-md-6 col-md-offset-3">
  
    <%= form_for @event do |f| %>
      <%= render 'layouts/error_messages' %>
    
      <%= f.label "タイトル" %>
      <%= f.text_field :title, class: 'form-control' %>
      
    　<%= f.label "内容" %>
      <%= f.text_area :content, class: 'form-control' %>
      
      <%= f.fields_for :event_schedules do |s| %>
        <%= s.label "予定日" %>
        <%= s.date_select :targer_at %>
      <%end%>
      
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
    
  </div>
</div>